.img{
    position: static;
    width: 100%;
    height: auto;
}

.img-contact{
    width: 100%;
    height: auto;
    padding: 0;
    margin:0;
}
.title{
    text-align: center;
}
.content{
    margin: 2rem;
    text-align: left;
}