.img{
    position: static;
    width: 100%;
    height: 100%;
}

.img-contact{
    text-align: center;
    width: 100%;
    height: 100%;
}
.title{
    text-align: center;
}
.content{
    margin: 2rem;
    text-align: left;
}